* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background: #000;
}
.board {
    display: block;
    background: #fff;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}