* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background: #000;
}
button {
    cursor: pointer;
}
.board
, .message {
    width: 400px;
    margin: 40px auto 0;
}
.board {
    display: block;
    background: #fff;
    height: 400px;
}
.message {
    background: #5891E6;
    display: none;
    text-align: center;
}
.message.active {
    display: block;
}
.message span {
    display: none;
    color: #fff;
    font-size: 30px;  
}
.message span.active {
    display: block;     
}
.message button {
    display: inline-block;
    background: #ccc;
    margin: 20px 0 0;
}