* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.board
, .message {
    position: absolute;
    right: 0;
    width: 400px;
}

.board {
    display: block;
    background: #fff;
    left: 0;
    top: 0;
    z-index: 1;
    bottom: 0;
    margin: auto;
    height: 400px;
}

.message {
    background: #5891E6;
    font-size: 24px;
    text-align: center;
    left: -999em;
    top: 40px;
    z-index: 2;
    padding: 40px 20px 20px;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 1s, visibility 0s 1s, left 0s 1s, transform 1s;

    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 1s, visibility 0s 0s, left 0s 0s, transform 1s;
    }

    span {
        display: none;
        color: #fff;
        font-size: 30px;
        position: relative;

        &.active {
            display: block;
        }

        &.symbolX
        , &.circle {
            padding: 50px 0 0;
        }

        &.symbolX {
            &:before
            , &:after {
                content: '';
                background: #E82C2C;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                width: 4px;
                height: 40px;
                margin: 0 auto;
                border-radius: 3px;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }

        &.circle {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 40px;
                height: 40px;
                margin: 0 auto;
                border: solid 2px #2AF230;
                border-radius: 50%;
            }
        }
    }

    button {
        background: #fff;
        display: inline-block;
        color: #5891E6;
        height: 40px;
        padding: 0 40px;
        margin: 20px 0 0;
        border-radius: 20px;
    }
}